</br>
</br>
</br>
</br>
</br>
</br>
<div class="container maxWidth">
<h3>Thank you for joining the game.</h3>
<p>Take a break...and click it when you are ready to
  <a href="/new_player">start again!<a>
</p>
</div>
