<!DOCTYPE html>
</br>
</br>
</br>
</br>
</br>
</br>
<div class="container maxWidth">
<h3>What's your name?</h3>

<form action="/new_player" method="post" class="input-append">
  <input type="text" name="player_name"/>
  <input id="appendedbutton" type="submit" class="btn" value="Go!"/>
</form>
<div>
<p class="image" id="front_page_image"><img src="/images/blackjack.jpg"/></p>
</div>
</div>

