form#hit_form {
  float: left;
  margin-right: 10px;
}

form#stay_form {
  float: left;
}

img.card_image {
  margin: 15px 10px 10px 10px;
}

#front_page_image {
 float: right; width: 900px;
}

.container maxWidth {
    max-width:980px;
    margin-right: 50px;
    margin-left: 50px
}

